@model CIS341_lab6.Models.TagModel

@{
    ViewData["TagName"] = System.Security.SecurityElement.Escape(Model.TagName);
    ViewData["Title"] = $"tag::{ViewData["TagName"]}";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
    <style>
        a.breadcrumbs { text-decoration: none; }

        a.breadcrumbs:hover { text-decoration: overline; }
    </style>
</head>
<body>

<div>
    <h4><a class="breadcrumbs" asp-action="Index">tag</a> :: @ViewData["TagName"]</h4>
    <hr/>
    @foreach (var item in Model.SharedInformationItems)
    {
        <dl class="row">
            <a asp-area="" asp-controller="SharedInformationItem" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
        </dl>
    }
</div>
<hr/>
<div>
    <a asp-action="Index">Back to Tags</a>
</div>
</body>
</html>