@model CIS341_checkpoint2.Models.SharedInformationItemCreateUpdateModel

@{
    ViewData["Title"] = "Create :: Shared Information Item";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
    <style>
        .grid-container {
            padding: 0px;
            margin-bottom: 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0px;
        }

        div.right { text-align: right; }

        .btn-back { border: 1px dashed #000000; }

        .btn-back:hover { border: 1px solid #000000; }
    </style>
</head>
<body>
<h1>Create</h1>

<h4>Shared Information Item</h4>
<hr/>
<div class="row">
    <div>
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control"/>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea rows="20" asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <hr/>
            <div class="grid-container">
                <div>
                    <a class="btn btn-back" asp-action="Index">Back to List</a>
                </div>
                <div class="right">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>